* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #092327cc;
  color: #448097;
  justify-content: center;
}
#root {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.App {
  height: 100vh;
  margin: 30px auto;
  text-align: center;
  font-size: 1.6rem;
  background-color: #d7dae5;
  padding: 25px;
  border-radius: 25px;
}

form .input {
  background-color: #93adbf;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
button {
  background-color: #0099cc; /* Blue background color */

  border-radius: 30px; /* Curve of border corners */

  text-transform: uppercase; /* Make letters uppercase */

  color: white; /* Text color */
  height: 30px;
  width: 90px;
}
h2 {
  margin: 20px 30px;
  opacity: 0.9;
  color:#0099cc;
}
form input {
  border-radius: 15px;
  margin-left: 10px;
  width: 300px;
  height: 30px;
}
form label {
  font-size: 1.3rem;
}

label{
  color:rgb(41, 107, 107);
}

.input-container{
  
  background-color: #93adbf;
  border-radius:15px;
}

.searchBar{
  margin-left:-30px;
  margin-bottom:20px;
  font-size:1.4rem;
}

.searchBar> input{
border-radius:14px;
}