body {
  color: #f5a962;
  background-color: #dddddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.App {
  text-align: center;
  margin: 30px auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  float: center;
  justify-items: center;
  width: 400px;
  font-size: 1.2rem;
}
h1 {
  color: #125d98;
}
h2 {
  color: #3c8dad;
}

.search-bar {
  background-color: #3c8dad;
  font-size: 1.3rem;
  height: 30px;
  font-weight: 500;
  width: 300px;
  padding: 8px;
  border-radius: 10px;
}
.search-bar input {
  width: 200px;
  font-size: 1.1rem;
}
label {
  margin-right: 10px;
}

.search-results {
  margin-top: 40px;
  width: 100%;
}
img {
  width: 80%;
  height: 300px;
}

ul {
  list-style: none;
  text-align: center;
}
li {
  margin-top: 10px;
}
li::hover {
  color: black;
}

button {
  margin-left: 30px;
  background-color: orange;
  border-color: black;
  font-size: 1.2rem;
  height: 30px;
  width: 70px;
}

button:hover {
  opacity: 0.6;
  font: 1rem;
}

.multiple-results {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: flex-end;
  background-color: #cfc9c9;
  padding: 10px;
}
