.App {
  width: 80%;
  height: 90vh;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: black;
  border-style: ridge;
  border-radius: 10px;
  font-size: 16px;
}

.Header {
  background-color: rgb(209, 203, 196);
  width: 100%;
  margin: 0 10px auto;
  height: 20%;
  overflow: hidden;
  padding: 10px;
}

.Header p {
  text-transform: uppercase;
}

.container {
  width: 100%;
  height: 70%;
}
.Display {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  margin-left: 15px;
  background-color: blanchedalmond;
  border-color: cornsilk;
  width: 10%;
  height: 30px;
  font-size: 1rem;
}
table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 60%;
}
td {
  border-color: black;
  border-style: groove;
  width: 17px;
}
